<aside class="widget-area">
    <div class="widget widget_search">
        <h3 class="widget-title">Search</h3>
        <form class="search-form">
            <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search...">
            </label>
            <button type="submit"><i class="bx bx-search-alt"></i></button>
        </form>
    </div>
    <div class="widget widget_wilo_posts_thumb">
        <h3 class="widget-title">Popular Posts</h3>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span class="fullimage cover" role="img" style="background-image: url(images/blog/img9.jpg);"></span>
            </a>
            <div class="info">
                <span>June 10, 2025</span>
                <h4 class="title usmall"><a routerLink="/blog-details">The Data Surrounding Higher Education</a></h4>
            </div>
            <div class="clear"></div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span class="fullimage cover" role="img" style="background-image: url(images/blog/img8.jpg);"></span>
            </a>
            <div class="info">
                <span>June 21, 2025</span>
                <h4 class="title usmall"><a routerLink="/blog-details">Conversion Rate the Sales Funnel Optimization</a></h4>
            </div>
            <div class="clear"></div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span class="fullimage cover" role="img" style="background-image: url(images/blog/img7.jpg);"></span>
            </a>
            <div class="info">
                <span>June 30, 2025</span>
                <h4 class="title usmall"><a routerLink="/blog-details">Business Data is changing the world’s Energy</a></h4>
            </div>
            <div class="clear"></div>
        </article>
    </div>
    <div class="widget widget_categories">
        <h3 class="widget-title">Categories</h3>
        <ul>
            <li><a routerLink="/blog-grid">Design <span class="post-count">(03)</span></a></li>
            <li><a routerLink="/blog-grid">Lifestyle <span class="post-count">(05)</span></a></li>
            <li><a routerLink="/blog-grid">Script <span class="post-count">(10)</span></a></li>
            <li><a routerLink="/blog-grid">Device <span class="post-count">(08)</span></a></li>
            <li><a routerLink="/blog-grid">Tips <span class="post-count">(01)</span></a></li>
        </ul>
    </div>
    <div class="widget widget_tag_cloud">
        <h3 class="widget-title">Popular Tags</h3>
        <div class="tagcloud">
            <a routerLink="/blog-grid">Business <span class="tag-link-count"> (3)</span></a>
            <a routerLink="/blog-grid">Design <span class="tag-link-count"> (3)</span></a>
            <a routerLink="/blog-grid">Braike <span class="tag-link-count"> (2)</span></a>
            <a routerLink="/blog-grid">Fashion <span class="tag-link-count"> (2)</span></a>
            <a routerLink="/blog-grid">Travel <span class="tag-link-count"> (1)</span></a>
            <a routerLink="/blog-grid">Smart <span class="tag-link-count"> (1)</span></a>
            <a routerLink="/blog-grid">Marketing <span class="tag-link-count"> (1)</span></a>
            <a routerLink="/blog-grid">Tips <span class="tag-link-count"> (2)</span></a>
        </div>
    </div>
</aside>